
@{
    ViewData["Title"] = "UserVC";
    var user = ViewData["userFullname"] as string;
}

    <div class="pull-left info">
        <p>@user</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>